extends ../layout
block main
    h1 Checked Out Loans
    p
      a.button(href='/loans/new') Create New Loan
    p
      | Filters
      a(href='/loans') All
      | |
      a(href='/loans/overdue_loans') Overdue
      | |
      a(href='/loans/checked_loans') Checked Out
    table
      thead
        tr
          th Book
          th Patron
          th Loaned on
          th Return by
          th Returned on
          th Action
      tbody
      each loan in loans
        tr
          each book in books
            if book.id === loan.book_id
              td
                a(href=`/books/book_detail/${book.id}`)= book.title
              each patron in patrons
                if patron.id === loan.PatronId
                  td
                    a(href=`/patrons/patron-detail/${patron.id}`) #{patron.first_name+' '+patron.last_name}
                  td=loan.loaned_on
                  td=loan.due_on
                  td=loan.returned_on
                    if loan.returned_on === null
                      td
                        a.button(href=`/loans/loan_update/${loan.id}`) Return Book
              
