extends ../layout
block main
    h1 Patron:#{patron.first_name} #{patron.last_name}
    p(style={color: 'red'})=error
    form(action="/patrons/patron_detail/" + patron.id + "?_method=PUT", method="post")
      include patron_form
      p
      input(type='submit', value='Save Changes')
      a.button(href="/patrons/patron-detail/"+patron.id + "/delete") Delete

    h2 Loan History
    table
      thead
        tr
          th Book
          th Patron
          th Loaned on
          th Return by
          th Returned on
          th Action
      tbody
          each loan in loans
            each book in books
             tr
              if book.id === loan.book_id
                td
                  a(href=`/books/book_detail/${book.id}`)= book.title
                      td
                        a(href=`/patrons/patron-detail/${patron.id}`) #{patron.first_name+' '+patron.last_name}
                      td=loan.loaned_on
                      td=loan.due_on
                      td= loan.returned_on
                        if loan.returned_on === null
                          td
                            a.button(href=`/loans/loan_update/${loan.id}`) Return Book
                  
